/* 
rem and em dosn't depend upon html font size in media Queries!
Instead, 1rem = 1em = 16px;
*/

/**************************/
/* Below 1344px for smaller desktops = 1350/16 */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  /* .gallery {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/**************************/
/* Below 1200px for Tablet Landscape  1200/16=75em  */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px = 9/16 =56.25% */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  /* .gallery {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/**************************/
/* BELOW 1040px ( bigeer Tablets) */
/**************************/

@media (max-width: 65em) {
  html {
    /* 8px 8/16 = 0.50 = 50% */
    font-size: 53%;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-img {
    width: 85%;
  }

  .hero {
    column-gap: 6.8rem;
  }

  .section-call-to-Action {
    padding: 4.8rem 4.8rem 12.8rem;
  }

  .container {
    padding: 0 4.8rem;
  }
  .fearture-container {
    gap: 4.2rem;
    padding: 1.8rem 6.4rem;
  }

  .testimonial-name {
    margin-left: 5rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px 8/16 = 0.50 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 11.6rem;
    gap: 6.4rem;
  }

  .section-hero {
    padding-top: 1.8rem;
  }

  .hero-text-box,
  .hero-imge-box {
    text-align: center;
  }
  /* .section-hero{
    margin-top: 6rem;
  } */

  .hero-img {
    width: 55%;
    margin-bottom: 2rem;
  }

  .hero-marquee {
    max-width: 65rem;
    margin-left: 20%;
  }
  .fearture-container {
    gap: 1.2rem;
    padding: 1.8rem 2.4rem;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .fearture-logo img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .section-how .heading-secondary {
    margin-bottom: 6.8rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
    padding: 0 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
    height: auto;
  }

  .cta-from {
    grid-template-columns: 1fr;
  }

  .cta-from button {
    margin-top: 1.2rem;
  }

  .cta-text-box {
    padding: 2.8rem 3.4rem 4.4rem 3.4rem;
  }

  .pricing-plan-grid {
    gap: 4rem;
  }
}

/**************************/
/* BELOW 816px smaller tablests  (Tablets) */
/* MOBILE NAVIGATION */
/**************************/

@media (max-width: 51em) {
  /* 8px 8/16 = 0.50 = 50% */
  /* html {
    font-size: 50%;
  } */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  /* .section-hero{
    margin-top: 6.4rem;
  } */

  .main-nav {
    background-color: #d8f5cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* align-items: center; */
    /* HIDING THE NAVIGATION */
    /* display: none; */
    /* allowes no transiton at all */

    /* Trick to show and the navigation 
     1) hide the component visually */
    opacity: 0;
    /* 2) make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide from screen Reader */
    visibility: hidden;

    /* transition property */
    transition: all 0.8s ease-in;
    transform: translateX(100%);
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav .mobile-order {
    display: block;
    font-weight: 600;
  }

  .header .desktop-order {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .desktop-order {
    flex-direction: column;
    padding: 9.6rem;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.5rem 4rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diet-section {
    grid-column: 1 /-1;
    justify-self: center;
  }
  .section-meal {
    padding-inline: 3.2rem;
  }
  .heading-secondary {
    margin-bottom: 4.8rem !important;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4.8rem;
  }

  .logo-col,
  .Address-col {
    grid-column: span 3;
    /* justify-self: center; */
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
    /* justify-self: center; */
  }

  .hero-img {
    width: 80%;
  }

  .fearture-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.2rem;
    column-gap: 8.2rem;
    margin-inline: 6.2rem;
    padding-inline: 8.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .testimonials {
    grid-template-columns: 1fr;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .hero {
    padding: 0 3.2rem;
    /* background-color: #d8f5cc; */
  }
  .header {
    height: 7.2rem;
  }

  .section-hero {
    background: linear-gradient(
      180deg,
      rgba(196, 232, 180, 0.43) -32.94%,
      rgba(216, 245, 204, 0) 99.61%
    );
    padding: 4.2rem 0 6.4rem 0;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.8rem 1.8rem;
  }

  .hero-img {
    width: 84%;
    height: 84%;
  }

  .hero-marquee {
    margin-inline: 4rem;
  }
  .all--recipes {
    font-size: 1.6rem;
  }

  .fearture-container {
    grid-template-columns: 1fr;
    padding-left: 3.2rem;
  }
  .feature-text {
    width: 32rem;
  }

  .fearture-logo img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(3rem);
  }

  .section-testimonials {
    padding: 4.2rem 3.2rem;
  }

  .testimonial-name {
    margin-left: 12.8rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
  }

  .gallery-item img,
  .gallery-item {
    border-radius: 5px;
  }

  .pricing-plan-grid {
    flex-direction: column;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .section-call-to-Action {
    padding: 0;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .cta .heading-secondary {
    margin-bottom: 2.4rem !important;
  }
  .testimonials-container {
    padding: 3.2rem 1rem;
  }

  .grid--4-cols {
    margin-top: 2.8rem;
  }
  .container {
    padding: 0 3.2rem;
  }
    .grid--footer {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    column-gap: 4.8rem;
}
}

/**************************/
/* BELOW 384px (Phones) */
/**************************/

@media (max-width: 24em) {
  .btn--full:link,
  .btn--full:visited {
    margin-bottom: 2rem;
  }
  .hero-img {
    width: 90%;
    height: 90%;
  }
  
  .fearture-container {

  padding-left: 3.2rem;
}
.feature-text {
    width: 20rem;
  }
 .cta-text-box {
    padding: 1.4rem 1.7rem 2.2rem 1.7rem;
  }




}

/* 
---07  WHITESPACING SYSTEM 

 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--FONT SIZE SYSTEM (px)

10 / 12 /14 / 16/ 18 / 20/ 24/ 30/ 36/ 44/ 52/ 62/ 86/ 98

--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16/ 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/
